[submodule "AAS/resources"]
	path = AAS/resources
	url = git@github.com:detiuaveiro/aas.git
[submodule "AAS/P/aas-spam-davidjosearaujo"]
	path = AAS/P/aas-spam-davidjosearaujo
	url = git@github.com:detiuaveiro/aas-spam-davidjosearaujo.git
[submodule "AAS/P/aas-anomaly-iot-davidjosearaujo"]
	path = AAS/P/aas-anomaly-iot-davidjosearaujo
	url = git@github.com:detiuaveiro/aas-anomaly-iot-davidjosearaujo.git
[submodule "CA/P/e-des"]
	path = CA/P/e-des
	url = git@github.com:davidjosearaujo/e-des.git
[submodule "AAS/P/aas-anomaly-iot-real-data-davidjosearaujo"]
	path = AAS/P/aas-anomaly-iot-real-data-davidjosearaujo
	url = git@github.com:detiuaveiro/aas-anomaly-iot-real-data-davidjosearaujo.git
[submodule "SR/P/sr-vulnerable-api"]
	path = SR/P/sr-vulnerable-api
	url = git@github.com:davidjosearaujo/sr-vulnerable-api.git
[submodule "AFSC/P/keyLogger"]
	path = AFSC/P/keyLogger
	url = git@github.com:diogoftm/keyLogger.git
[submodule "CA/P/d-rsa"]
	path = CA/P/d-rsa
	url = git@github.com:davidjosearaujo/d-rsa.git
[submodule "AEV/P/Lab04"]
	path = AEV/P/Lab04
	url = git@github.com:davidjosearaujo/aev-lab04.git
[submodule "first-year/second-semester/RE/P/re-android-reversing"]
	path = first-year/second-semester/RE/P/re-android-reversing
	url = git@github.com:davidjosearaujo/re-android-reversing.git
[submodule "first-year/second-semester/RE/P/re-sus-deb-package"]
	path = first-year/second-semester/RE/P/re-sus-deb-package
	url = git@github.com:davidjosearaujo/re-sus-deb-package.git
[submodule "first-year/second-semester/RE/P/re-intercept-board-comms"]
	path = first-year/second-semester/RE/P/re-intercept-board-comms
	url = git@github.com:davidjosearaujo/re-intercept-board-comms.git
