[submodule "AAS/resources"]
	path = AAS/resources
	url = git@github.com:detiuaveiro/aas.git
[submodule "AAS/P/aas-spam-davidjosearaujo"]
	path = AAS/P/aas-spam-davidjosearaujo
	url = git@github.com:detiuaveiro/aas-spam-davidjosearaujo.git
[submodule "AAS/P/aas-anomaly-iot-davidjosearaujo"]
	path = AAS/P/aas-anomaly-iot-davidjosearaujo
	url = git@github.com:detiuaveiro/aas-anomaly-iot-davidjosearaujo.git
[submodule "CA/P/e-des"]
	path = CA/P/e-des
	url = git@github.com:davidjosearaujo/e-des.git
[submodule "AAS/P/aas-anomaly-iot-real-data-davidjosearaujo"]
	path = AAS/P/aas-anomaly-iot-real-data-davidjosearaujo
	url = git@github.com:detiuaveiro/aas-anomaly-iot-real-data-davidjosearaujo.git
